/* universal selector */
/* {
    color: green;
} */

/* type selector */
/* single */
/* h1{
    color: red;
} */

/* multiple */
/* h1,span{
    color: red;
} */
  
/* class selector */
/* .interest{
    color: red;
} */

/* id selector */
/* #my-head{
    color: red;
} */

/* child selector */
/* span>p{
    color: blue;
} */

/* decendant selector */
/* div p {
    color: red;
} */

/* adjecent sibiling selector */
/* h1+p{
    color: rgb(0, 243, 97);
}
h1+div{
    color: red;
} */

/* general sibiling selector */
 h1~p{
    color: crimson;
 }
 h1~span{
    color: rgb(20, 23, 220);
 }
